<!DOCTYPE html>
<html lang="en">

{{#block "head"}}

<head>
    {{#block "title"}}
    <title>{{title}}</title>
    {{/block}}
    <link href="styles/base.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    {{#block "styles"}}
    {{#each stylesheets}}
    <link href="{{this}}" rel="stylesheet" />
    {{/each}}
    {{/block}}
</head>
{{/block}}

{{#block "body"}}

<body>
    {{#block "main"}}
    {{/block}}

    {{#block "scripts"}}
    {{#each scripts}}
    <script defer src="{{this}}"></script>
    {{/each}}
    {{/block}}
</body>
{{/block}}

</html>