---
stylesheets:
- ./styles/chats.css
- ../components/styles/input.css
---
{{#extend "base"}}
{{#content "main"}}
<main>
    <div class="container">
        <h2 class="error__code">Page not ready yet</h2>
        <a href="index.hbs">
            < go back to index</a>
    </div>
</main>
{{/content}}
{{/extend}}