.container__errors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.error__code {
    font-weight: 500;
    font-size: 40px;
}

.error__text {
    font-weight: 500;
    font-size: 20px;
    padding: 40px 0 70px;
}

