.profile__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 500px;
}

.change-avatar__out {
    height: 130px;
    width: 130px;
    margin: 0 auto 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-color: var(--grey-3);
    background-image: url('../../images/emptyAvatar.svg');
    background-position: center;
    color: white;
    transition: background-color 0.2s;
}

.change-avatar__in {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
}

.change-avatar__in:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    cursor: pointer;
}

.change-avatar__text {
    margin: auto;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.profile-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--grey-6);
    width: 100%;
    padding-top: 8px;
    font-size: 16px;
    line-height: 20px;
}

.profile-data__label {
    font-weight: 600;
}

.profile-data__value {
    font-weight: normal;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 28px;
    
}

.profile-actions > p {
    padding-top: 8px;
    border-bottom: 1px solid var(--grey-6);
    text-align: center;
}
